
<div class="container">
  <div class="main-body">
    <div class="row">

      <div class="card">
        <div class="card-body" >
          <div class="d-flex flex-column align-items-center text-center">
            <img [src]="urlImag + profile.avatar" alt="Admin" class="rounded-circle p-1 bg-primary" style="position: relative;
                left: 240px;
            top: 13px;"
              width="110">
            <div *ngIf="mode=='profile'">
              <h5><b style="color: #76323F;">First Name : </b> {{profile.firstName}}</h5>
              <div class="aSeparator"></div>

              <h5><b style="color: #76323F;">Last Name : </b>{{profile.lastName}}</h5>
              <div class="aSeparator"></div>

              <h5> <b style="color: #76323F;"> Phone : </b> {{profile.phone}}</h5>
              <div class="aSeparator"></div>

              <h5> <b style="color: #76323F;">Username :</b> {{profile.username}}</h5>
              <div class="aSeparator"></div>

              <h5> <b style="color: #76323F;">Email : </b>{{profile.email}}</h5>
              <div class="aSeparator"></div>

              <h5> <b style="color: #76323F;">Adress :</b> {{profile.adr}}</h5>
              <div class="aSeparator"></div>

              <h5><b style="color: #76323F;">Genre :</b> {{profile.genre}}</h5>
              <button class="fadeIn fourth" value="Log In" (click)="mode='update'">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- Update Form -->
    <div *ngIf="mode=='update'">
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
            <img [src]="urlImag + profile.avatar" id="icon" alt="User Icon" style="width: 200px;height: 200px;" />
          </div>

          <!-- Register Form -->
          <form>
            <h5>First Name </h5>
            <input type="text" id="firstName" class="fadeIn second" placeholder={{profile.firstName}}
              [(ngModel)]="firstName" name="firstName" required>
              <h5>Last Name </h5>
            <input type="text" id="lastName" class="fadeIn second" placeholder={{profile.lastName}}
              [(ngModel)]="lastName" name="lastName" required>
              <h5>Username </h5>
            <input type="text" id="username" class="fadeIn second" placeholder={{profile.username}}
              [(ngModel)]="usename" name="usename" required>
              <h5>Phone : </h5>
            <input type="number" id="phone" class="fadeIn second" placeholder={{profile.phone}} [(ngModel)]="phone"
              name="phone" required>
              <h5>Email </h5>
            <input type="text" id="register" class="fadeIn second" placeholder={{profile.email}} [(ngModel)]="email"
              name="email" required>
              <h5>Adress </h5>
            <input type="text" id="adr" class="fadeIn second" placeholder={{profile.adr}} [(ngModel)]="adr" name="adr"
              required>
              <h5>Avatar </h5>
            <input type="text" id="avatar" class="fadeIn second" placeholder={{profile.avatar}} [(ngModel)]="avatar"
              name="avatar" required>
            <label class="gend" for="select1">Gender:</label>
            <select class="nice-select open select1" name="genre" [(ngModel)]="genre">
              <option [ngValue]="'H'">Male</option>
              <option [ngValue]="'F'">Female</option>
            </select>
            <label class="avat" for="select1">Avatar:</label>
        
              <span style="    position: relative;left: -88px;
              top: 22px;">
                <img style="width: 60px;padding: 2px;"  class="usericon" (click)="avatar='man1.png'" src="..\..\assets\images\avatars\man1.png" id="icon" alt="User Icon" />
                <img style="width: 60px;" class="usericon" (click)="avatar='man2.png'" src="..\..\assets\images\avatars\man2.png" id="icon" alt="User Icon" />
                <img style="width: 60px;" class="usericon" (click)="avatar='woman1.png'" src="..\..\assets\images\avatars\woman1.png" id="icon" alt="User Icon" />
                <img style="width: 60px;" class="usericon" (click)="avatar='woman2.png'" src="..\..\assets\images\avatars\woman2.png" id="icon" alt="User Icon" />
              </span>
         

            <button style="    position: relative;
            top: 22px;
            left: -80px;" class="fadeIn fourth btnup" value="Log In" (click)="updateProfile()">Update</button>
            <button style="position: relative;
            top: 22px;
            left: -70px;" (click)="mode='profile'" class="back"><a >Back</a></button>
          </form>

        </div>
      </div>
    </div>