<div *ngIf="super">
  <!-- Commentaires-->
  <table mat-table [dataSource]="admins" class="mat-elevation-z8 adminsliste">

    <div class="emp">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let admin"> <b *ngIf="!admin.arch">{{admin.name}}</b> </td>
      </ng-container>


      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let admin"> <b *ngIf="!admin.arch">{{admin.phone}}</b> </td>
      </ng-container>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let admin"> <b *ngIf="!admin.arch">{{admin.username}}</b> </td>
      </ng-container>
      

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let admin"><button *ngIf="!admin.arch && admin.role!='SUPER'"
            class="btn btn-danger btndel" (click)="archAdmin(admin.id)"> Delete Admin</button> </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> UPDATE </th>
        <td mat-cell *matCellDef="let admin"><button *ngIf="!admin.arch && admin.role!='SUPER'" class="btnblue"
            (click)="mode='updAdmin';loadUpd(admin.id,admin.name,admin.phone,admin.username)"> Update Admin</button>
        </td>

      </ng-container>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>


  <div *ngIf="mode=='updAdmin'">
    <div class="container updateadmins">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Update Admin
          <div class="card-body">
            <form (submit)="updAdmin()">
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" [(ngModel)]="name" name="name" aria-describedby="nameHelp"
                      id="name" placeholder="{{name}}">
                    <label for="phone">Phone</label>
                    <input class="form-control" type="text" [(ngModel)]="phone" name="phone"
                      aria-describedby="phoneHelp" id="phone" placeholder="{{phone}}">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" [(ngModel)]="username" name="username"
                      aria-describedby="usernameHelp" id="username" placeholder="{{username}}">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-success ">Update</button>
              <a (click)="mode='list'" class="btn btn-primary btn-block">Back</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>