.cont{
    padding: 20px;
}
.btnadd{
    width: 125px;
}
.btnback {
    width: 125px;
    color: white;
    background-color: #3445b4;
}

.btnadd:hover{
  background-color: #fff;
  color: green;
}
.btnback:hover {
   background-color: #fff;
   color: #3445b4;
   border: 1px solid#3445b4;
}
.btndel:hover{
    background-color: #fff;
    color: red;
}
.baack:hover{
    color: blue;
}

.btncat{
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #76323F;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: #76323F;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btncat:hover {
 
    border: 1px solid #76323F;
    cursor: pointer;
  
 }

.btnblue{
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #76323F;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: #76323F;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnblue:hover {
   background-color: white;
   color: #76323F;
   border: 1px solid #76323F;
 
}

.card-register{
        box-shadow: 0 1px 15px 13px rgb(0 0 0 / 5%);
    margin-bottom: 30px;
    width: 75%;
    position: relative;
    
    left: 130px;top: -618px;
    height: 564px;
}