<div class="cont">
  <h1>Category CRUD</h1>
  <a class="btn btn-primary mb-3" (click)="addCategory()">add</a>
</div>
<div class="container row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categorys">
          <div *ngIf="category.arch; else elseBlock"></div>
          <ng-template #elseBlock>
          <td>{{category.id}}</td>
          <td>{{category.name}}</td>
          <td><button type="button" class="btn btn-primary" (click)="viewCategory(category.id)">Show Details</button>
          </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <app-addcategory *ngIf="action === 'add'" [category]="selectedCategory" (userAddedEvent)="refreshData()">
    </app-addcategory>
    <app-viewcategory *ngIf="action === 'view'" [category]="selectedCategory" (userDeletedEvent)="refreshData()">
    </app-viewcategory>
  </div>
</div>