<div class="card card-register mx-auto mt-5">

  <div class="cont">
    <h1>Category CRUD</h1>
    <div class="card-body">

      <a class="btnblue" (click)="addCategory()">add</a>
    </div>
    <div class="container row">
      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categorys">
              <div *ngIf="category.arch; else elseBlock"></div>
              <ng-template #elseBlock>
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td><button type="button" class="btnblue" (click)="viewCategory(category.id)">Show
                    Details</button>
                </td>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 catgoryadd" style=" position: relative;
    top: -78px;">
        <app-addcategory *ngIf="action === 'add'" [category]="selectedCategory" (userAddedEvent)="refreshData()">
        </app-addcategory>
        <app-viewcategory *ngIf="action === 'view'" [category]="selectedCategory" (userDeletedEvent)="refreshData()">
        </app-viewcategory>
      </div>
    </div>

  </div>
  <style>
    .card {
      box-shadow: 0 1px 15px 13px rgb(0 0 0 / 5%);
      margin-bottom: 30px;
      width: 75%;
      position: relative;
      top: -550px;
      left: 130px;
    }
  </style>